 /* General styling for all viewports */
 
 a:link {
     color: darkblue;
     text-decoration-line: solid;
 }
 /* visited */
 
 a:visited {
     color: darkmagenta;
     text-decoration-line: solid;
 }
 /* mouse over link */
 
 a:hover {
     text-decoration: underline;
 }
 /* selected link */
 
 a:active {
     color: darkblue;
     text-decoration-line: solid;
 }
 
 header {
     font-size: 1em;
     color: black;
     text-align: center;
     border: double;
 }
 
 .start-here a {
     color: black;
 }
 
 .resources a {
     text-decoration-line: solid;
 }
 /* Pencil Page Background */
 
 body.pencils {
     background-image: url("pencilbg.png");
 }
 
 .page-content {
     border: hidden;
     padding: 1em;
     background-color: rgba(255, 255, 255, 0.5);
     margin-right: auto;
     margin-left: auto;
 }
 
 body {
     font: normal 16px/1.5 Bookman;
 }
 /* Homepage Background */
 
 body.home {
     background-image: url("circles.png");
 }
 
 img {
     max-width: 100%;
 }
 
 ul {
     list-style-type: none;
 }
 /* Styles for media cards */
 
 .media ul {
     padding: 0 1em;
     margin: 0;
 }
 
 .media h3,
 .media p {
     text-align: center;
 }
 
 .medium {
     display: block;
     background: #ffffff;
     width: 18em;
     margin: 0 auto 4em;
 }
 
 .medium p {
     padding: 0;
 }
 
 .medium img {
     display: block;
     margin: 0 auto;
 }
 
 .medium a {
     display: block;
     text-decoration: none;
     color: black;
     padding-left: 2em;
     padding-right: 2em;
     padding-top: 2em;
     border: solid 1px white;
     box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.3);
 }
 
 .medium a:hover {
     box-shadow: 0 .2em 1em black;
 }
 /* mobile viewport */
 
 @media all and (min-width: 600px) {
     .itsme {
         width: 400px;
         float: left;
         margin-right: 1em;
     }
 }
 /* tablet viewport */
 
 @media all and (min-width: 800px) {
     .media {
         display: flex;
         max-width: 700px;
         margin-right: auto;
         margin-left: auto;
     }
 }
 /* laptop viewport */
 
 @media all and (min-width: 1000px) {
     .page-content {
         /* font-size: calc(1em + .5vw); */
         max-width: 75%;
         max-width: 900px;
         margin-right: auto;
         margin-left: auto;
     }
 }
 /* desktop viewport */
 
 @media all and (min-width: 1400px) {
     .page-content {
         font-size: calc(1em + .25vw);
         max-width: 75%;
         margin-left: auto;
         margin-right: auto;
     }
 }