 /* General styling for all viewports */
 
 a:link {
     color: darkblue;
     text-decoration-line: solid;
 }
 /* visited */
 
 a:visited {
     color: darkmagenta;
     text-decoration-line: solid;
 }
 /* mouse over link */
 
 a:hover {
     text-decoration: underline;
 }
 /* selected link */
 
 a:active {
     color: darkblue;
     text-decoration-line: solid;
 }
 
 header {
     font-size: 1em;
     color: black;
     text-align: center;
     border: double;
 }
 
 .start-here a {
     color: black;
 }
 
 .resources a {
     text-decoration-line: solid;
 }
 /* Pencil Page Background */
 
 body.pencils {
     background-image: url("images/pencilbg.png");
 }
 
 .page-content {
     border: hidden;
     padding: 1em;
     background-color: rgba(255, 255, 255, 0.5);
     margin-right: auto;
     margin-left: auto;
 }
 
 body {
     font: normal 16px/1.5 Bookman;
 }
 /* Homepage Background */
 
 body.home {
     background-image: url("images/circles.png");
 }
 
 img {
     max-width: 100%;
 }
 
 ul {
     list-style-type: none;
 }


 /* acrylic page images */

 .paint_img {
     max-width: 500px;
    display: block;
    margin: auto;
 }

 /* Styles for media cards */
 
 .media ul {
     padding: 0 1em;
     margin: 0;
 }
 
 .media h3,
 .media p {
     text-align: center;
 }
 
 .medium {
     display: block;
     background: #ffffff;
     width: 18em;
     margin: 0 auto 4em;
 }
 
 .medium p {
     padding: 0;
 }
 
 .medium img {
     display: block;
     margin: 0 auto;
 }
 
 .medium a {
     display: block;
     text-decoration: none;
     color: black;
     padding-left: 2em;
     padding-right: 2em;
     padding-top: 2em;
     border: solid 1px white;
     box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.3);
 }
 
 .medium a:hover {
     box-shadow: 0 .2em 1em black;
 }

 /* Paint Color Boxes */
 .colorgrid {
     display: grid;
     grid-template-columns: 50% 50%;
     justify-content: center;
 }
 .colorgrid div {
    padding: 2em;
    margin: 1em;   
 }

 .paynes-grey
 {
     background-color:#404048;
     color: white;
     text-align: center;
 }

.black {
    color: white;
    background-color: black;
    text-align: center;
   
}

.titanium-white {
    background-color: #ffffff;
    text-align: center;
   border-style: solid;
   border-color: lightgray;
}

 .alizarin {
    background-color: #e32636;
    color: white;
    text-align: center;
}

.cadmium-yellow
{
    text-align: center;
    background-color: #fff600;
}

.ultramarine
{

    text-align: center;
    background-color: #4166f5;
    color: white;
}
.raw-umber {
    text-align: center;
    color: white;

    background-color: #826644;
}

.phthalo {
    color: white;
    text-align: center;

    background-color: #000f89;
}

 /* mobile viewport */
 
 @media all and (min-width: 600px) {
     .itsme {
         width: 400px;
         float: left;
         margin-right: 1em;
     }
 }
 /* tablet viewport */
 
 @media all and (min-width: 800px) {
     .media {
         display: flex;
         max-width: 700px;
         margin-right: auto;
         margin-left: auto;
     }
 }
 /* laptop viewport */
 
 @media all and (min-width: 1000px) {
     .page-content {
         /* font-size: calc(1em + .5vw); */
         max-width: 75%;
         max-width: 900px;
         margin-right: auto;
         margin-left: auto;
     }
 }
 /* desktop viewport */
 
 @media all and (min-width: 1400px) {
     .page-content {
         font-size: calc(1em + .25vw);
         max-width: 75%;
         margin-left: auto;
         margin-right: auto;
     }
 }